.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
  border: 3px solid black;
}

.item {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
}

.item:hover {
  background-color: lightgrey;
}

#home-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#home-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.clear-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: gray;
  width: 100px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  border: 3px solid black;
}

#clear-theme-button {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  height: 50px;
  width: 100px;
}

#clear-theme-button:hover {
  background-color: lightgray;
}

nav {
  background-color: gray;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: black;
  text-decoration: underline;
}
